.my-input {
  width: 100%;
  display: block;
  font-size: 16px;
  line-height: 24px;
  font-feature-settings: "pnum" on, "lnum" on;
  color: #999999;
  border: 2px solid #999999;
  border-radius: 8px;
  
  padding: 16px;
  background: transparent;
}
.my-input.active {
  border-color: #fff;
  color: #fff;
}
