a {
  color: inherit;
}
*::placeholder {
  color: inherit;
}
body {
  background: #000000;

  color: #ffffff;
  font-family: monospace;
}
.App {
  .row {
    display: flex;
    align-items: stretch;
    justify-content: flex-start;
    min-height: 100vh;
  }
  .main {
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    min-height: 100vh;
    height: 100%;
    padding-top: 64px;
  }
}

.sub-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  color: #ffffff;
}
